{% extends 'base.html' %}

{% block title %}
修改密码
{% endblock %}

{% block resource %}
<link rel="stylesheet" href="/statics/css/person-photo.css">
{% endblock %}

{% block content %}
<div class="main">
<div class="body-index" style="padding: 15px; height: auto">
    <div class="Userindex_class_top">
    <span style="font-size: xx-large">修改密码</span>
  </div>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="prev">原密码:</label>
            <input type="password" class="form-control" id="prev" name="prev" placeholder="请输入原密码">
        </div>
        <div class="form-group">
            <label for="new">新密码:</label>
            <input type="password" class="form-control" id="new" name="new" placeholder="请输入新密码">
        </div>
<!--        <div class="form-check">-->
<!--            <label class="form-check-label">-->
<!--                <input class="form-check-input" type="checkbox" >-->
<!--            </label>-->
<!--        </div>-->

        <button type="submit" class="btn btn-primary" name="update">修改密码</button>

        {% if alert_type == 'error' %}
            <div class="alert alert-danger" style="top: 15px">{{ update_result }}</div>
        {% elif alert_type == 'success' %}
            <div class="alert alert-primary" style="top: 15px">{{ update_result }}</div>
        {% endif %}
    </form>

</div>
</div>

{% endblock %}